---

---

<header>
  <div class="container" data-aos="fade-down">
    <a href="/">
      <img src="images/logoo.png" alt="Vive la UCA Logo" class="logo" />
    </a>
    <p>Explorá tu futuro universitario</p>
    <nav>
      <ul>
        <li><a href="/">Descargar</a></li>
        <li><a href="/Instructions">Instrucciones</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background: #003366;
    background: linear-gradient(135deg, #003366, #0055a5);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  header .logo {
    max-width: 150px;
    margin-bottom: 10px;
  }

  header p {
    margin: 10px 0;
    font-size: 1.2em;
  }

  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  header nav ul li {
    margin: 0 15px;
  }

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
  }

  header nav ul li a:hover {
    color: #ff9900;
  }
</style>
