---
import Instruction from "./Instruction.astro";

const instructions = [
  {
    title: "1. Ubicá el archivo APK",
    description:
      "Una vez finalice la descarga de la aplicación, abrí el historial de descargas de tu navegador. También podes encontrar el enlace al archivo en la barra de notificaciones de tu teléfono.",
    image: "/images/notif.jpg",
  },
  {
    title: "2. Concedé los permisos",
    description:
      "Si te aparece un mensaje de advertencia, da clic en Configuración y otorgá permiso a tu navegador para instalar aplicaciones de fuentes desconocidas. Debés habilitar la opción \"Permitir desde esta fuente\".",
    image: "/images/permisos.jpg",
  },
  {
    title: "3. Instalá la aplicación",
    description:
      "Completá el proceso de instalación y cuando finalice, da click para abrir la app y concedé todos los permisos necesarios",
    image: "/images/instalando.jpg",
  },
  {
    title: "4. Explorá",
    description:
      "Disfrutá tu recorrido (tip: no olvidés permitir el uso de tu ubicación y habilitar el GPS).",
  },
];
---

<section transition:animate="slide">
  {
    instructions.map((instrucciones) => (
      <Instruction
        title={instrucciones.title}
        description={instrucciones.description}
        image={instrucciones.image}
      />
    ))
  }
</section>

<style>
  section {
    width: 80%;
    margin: 0% 10%;
    overflow: hidden;
  }
</style>
